@media (min-width: 1339px){
	video#myVideo {
		position: absolute;
		z-index: -2; 
		top: 0; 
		left: 0; 
		width: 1440px;
	}

	.overlay {
		opacity: 1; 
	 	background-color:  rgba(22,20,20,.40);
	 	display: flex; 
	 	flex-direction: column;
	 	justify-content: center; 
	 	align-items: center;
	 	transition: .6s;
	 	position: absolute;
	 	z-index: -1;
	 	width: 100%;
	 	height: 810px;
	 	top: 0;
	 	left: 0;
	}
}

@media (max-width: 1339px){
	video#myVideo {
		position: absolute;
		z-index: -2; 
		top: 0; 
		left: 0; 
		width: 100%;
	}

	.overlay {
		opacity: 1; 
	 	background-color:  rgba(22,20,20,.40);
	 	display: flex; 
	 	flex-direction: column;
	 	justify-content: center; 
	 	align-items: center;
	 	transition: .6s;
	 	position: absolute;
	 	z-index: -1;
	 	width: 100%;
	 	height: 800px;
	 	top: 0;
	 	left: 0;
	}
}

body {
	font-family: poppins;
}


.jumbotron {
	padding: 2rem;
	margin-top: 120px;
	color: white;
	font-family: poppins;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

.nav-item {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.bawah {
	margin-top: 180px;
}



.overlay2 {
	opacity: 1; 
    background-color: rgba(22,20,20,.40);
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    transition: .6s;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay3 {
	opacity: 1; 
    background-color: rgba(37,37,37,.90);
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    transition: .6s;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.social-media {
	text-decoration: none;
	color: white;
}

.social-media i:hover {
	color: #55b259;
	transition: .1s;
}

.parallax {
	background-image: url('Home/10.png');
	background-size: cover;
	height: 720px;
	background-attachment: fixed;
}

.parallax-contact {
	background-image: url('contact/section.png');
	background-size: cover;
	background-position: 0 -40px;
	height: 720px;
	background-attachment: fixed;
	text-shadow: 2px 2px 2px rgba(0,0,0,.40);
}

.parallax-about {
	background-image: url('about/section.png');
	background-size: cover;
	background-position: 0 0px;
	height: 810px;
	background-attachment: fixed;
	text-shadow: 2px 2px 2px rgba(0,0,0,.40);
}

.parallax-material {
	background-image: url('Material/section.png');
	background-size: fixed;
	background-position: 0 0px;
	height: 512px;
	background-attachment: fixed;
	text-shadow: 2px 2px 2px rgba(0,0,0,.40);
}

.parallax-location {
	background-image: url('location/section.png');
	background-size: fixed;
	background-position: 0px 0px;
	height: 720px;
	background-attachment: fixed;
	text-shadow: 2px 2px 2px rgba(0,0,0,.40);
	margin-left: 0px;
}

.parallax-delivery {
	margin-top: -67px;
	background-image: url('delivery/section.png');
	background-size: fixed;
	background-position: 0 0px;
	height: 800px;
	background-attachment: fixed;
	text-shadow: 2px 2px 2px rgba(0,0,0,.40);
}

.subscribe {
	background-image: url('material/9.png');
	background-size: fixed;
	background-position: 0 0px;
	height: 100%;
	background-attachment: fixed;
	text-shadow: 1px 1px 1px rgba(0,0,0,.40);
}

#more_about_us button:hover {
	color: #a3c4c9;
	transition: .2s;
}

input.form-control  {
	border-radius: 4px;
}

textarea.form-control  {
	border-radius: 4px;
}

button.pesan {
	border-radius: 0px;
	border-bottom: 2px solid white;
}

button.contact_pesan {
	border-radius: 0px;
	border-bottom: 2px solid black;
}

button.subscribe {
	/*color: white;*/
	text-align: center;
	background-color: rgba(0,0,0,0);
	border-radius: 0px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 3px solid white;
}

button.subscribe:hover {
	background-color: rgba(255,255,255,.63);
	transition: .2s;
}

input.input-group-text {
	border-radius: 4px;
	text-align: left;
}

textarea.input-group-text  {
	border-radius: 4px;
	width: 100%;
}

.input-group-text {
	padding-right: 0px;
}

.our-team {
	text-shadow: 2px 2px 2px rgba(0,0,0,.25);
}

#link{
	text-decoration: none; color: white;
}

#link:hover {
	color: #55b259;
	transition: .2s;
}

#span-collapse {
	transform: rotate(45deg);
}
